{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div style="background: #DF3062; margin: 0px 0px 0px 300px; margin-top: 80px; margin-bottom: 80px;">
        <div name="ContainLogoName">
            <p name="LogoNameAbove" style="color: #9a183d;"> Твой рабочий стиль </p>
            <p name="LogoName">Professional</p>
            <p name="LogoNameUnder" style="color: #FEFEFE;"> Urban</p>
            <p name="LogoNameUnder" style="background:#F5B935;"> Wardrobe </p>
        </div>
    </div>

    <div id="container2">
        <img src="{% static 'perfomanse/images/chel.jpg/' %}"/>

        <div name="history" style=" padding: -20px;">
            <p style="width: 250px;">
            <span name="historyBold"> Олег Рой </span>
            <span name="marginHistory"> - </span>Российский писатель и сценарист,
                                             член Союза писателей России и Союза писателей Европы,
                                             обладатель Золотого рыцарского креста доблести и чести.
        </p></div>

        <div name="description">
            <div>
                <div name="underLine" style="margin-top: 40px; margin-right: 100px; width: 1200px" ></div>

                <p name="quotation">
                Олег Рой говорит про стиль: Что может нас изменить? Другая одежда, особенно принципиально новый её стиль
                или фасон. Новая причёска.
                Женщину — макияж. Вообще любые перемены в имидже, все заметные аксессуары, начиная с головных уборов и
                заканчивая автомобилем. Нас меняет время. Мы становимся другими с возрастом, и мы становимся другими потому,
                что жизнь вокруг тоже меняется, а мы вынуждены под неё подстраиваться… Ещё нас меняет окружение. Семья,
                коллектив на работе, друзья, общество, в котором мы вращаемся, город и страна, в которых мы живём.
                Меняют нас обстоятельства, в которые мы попадаем. Очень сильно меняет нас любовь. И ненависть тоже меняет.
                И счастье, и страх, и стрессовые ситуации. Нас меняет успех и разочарование, меняет благополучие и
                пережитые трагедии, меняют новые знания, книги, фильмы… Всё это так и в то же время, всё это совсем не верно.
                Потому что на самом деле существует лишь одна причина для перемен — мы сами.
                По-настоящему мы можем измениться только тогда, когда сами этого захотим.
            </p></div>
        </div>
    </div>

    <div name="liable" style="margin-top:150px;">
        ЛУЧШИЕ ПРЕДЛОЖЕНИЯ НА
        <span style="color: #DF3062;"> {{dataDay}} </span>
        <span style="color: #4BAC3F;"> {{dataMonth}} </span>
        <span style="color: #11ABC1;"> {{dataYear}} Г. </span>
    </div>

    <div class="parent">
        <ul class="horizontal-list">
            {% for i in iterations %}
                <li style="margin-left: 10px;">
                    <div style="background:balck;">
                        <img src="{% static 'perfomanse/images/empty.png/'%}" style="margin-right:10px;"/>

                        <div style="word-break:break-all; width: 90%;">
                            <p name="styleFont">[Название товара]</p>
                        </div>

                        <div style="word-break:break-all; width: 90%;">
                            <p name="styleFontPrice">[Цена товара]<span style="font-size: 20px; font-family: 'Hero';"> ₽ </span></p>
                        </div>
                    </div>
                </li>
            {%endfor%}
        </ul>
    </div>

    <div class="parent">
        <div name="liable">
            БРЕНДЫ
        </div>

        <ul class="horizontal-list2">
            {% for i in image_data%}
                <li>
                    <div>
                        <a href="{{ i.get_absolute_url }}">
                            <img src="data:image/png;base64, {{ i.image }}"/>
                        </a>
                    </div>
                </li>
            {%endfor%}
        </ul>
    </div>

{% endblock %}
